<div class="layout">
    <div class="top">
        <button class="back-button">&lt;</button>
        <div class="q-title">QUESTIONS</div>
        <button class="add-button">&#43;</button>
        <span class="q-last-time-dis">
            Last time discussed
            <span><b>1</b></span>
            day ago
        </span>
    </div>
    <div class="body">
        <div class="question">
            <div>
                <div class="question-avatar">
                    <h1>
                        <span class="glyphicon glyphicon-user"></span>
                    </h1>
                </div>
                <div class="question-title">
                    <p><b>Eva</b> <span style="color: grey;">IS ASKING:</span></p>
                    <h4>Will insulin make my patient gain weight?</h4>
                </div>
                <div class="question-option">
                    <button class="button-link">unfollow</button>
                </div>
            </div>
            <div>
                <div class="question-desc">
                    <span>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </span>
                    <button class="question-btn">GIVE new answer</button>
                </div>
                <div class="question-votes">
                    <span><b>19</b></span>
                    <span>upvotes</span>
                </div>
                <div class="question-vote">
                    <ul class="vote">
                        <li class="vote-up">
                            <span>&#9652;</span>
                        </li>
                        <li class="vote-down">
                            <span>&#9662;</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="comments-count">
            <span><b>2</b> peers already answered Eva</span>
        </div>
        <div class="comment-answered">
            <div class="comment-avatar">
                <h1>
                    <span class="glyphicon glyphicon-user"></span>
                </h1>
            </div>
            <div class="comment-body">
                <div>
                    <div class="comment-title">
                        <p><b>Patricia</b> <span style="color: grey">COMMENTED IT &#8226;</span> <span style="color: black"><b>yesterday</b></span></p>
                    </div>
                </div>
                <div>
                    <div class="comment-desc">
                        <span>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </span>
                    </div>
                    <div class="comment-votes">
                        <span><b>8</b></span>
                        <span>upvotes</span>
                    </div>
                    <div class="comment-vote">
                        <ul class="vote">
                            <li class="vote-up">
                                <span>&#9652;</span>
                            </li>
                            <li class="vote-down">
                                <span>&#9662;</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="subcomment">
            <div class="comment-avatar">
                <h1>
                    <span class="glyphicon glyphicon-user"></span>
                </h1>
            </div>
            <div class="comment-body">
                <div>
                    <div class="comment-title">
                        <p><b>David</b> <span style="color: grey">COMMENTED IT &#8226;</span> <span style="color: black"><b>yesterday</b></span></p>
                    </div>
                </div>
                <div>
                    <div class="subcomment-desc">
                        <span>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </span>
                        <button class="subcomment-btn">CONTINUE discussion</button>
                    </div>
                    <div class="comment-votes">
                        <span><b>2</b></span>
                        <span>upvotes</span>
                    </div>
                    <div class="comment-vote">
                        <ul class="vote">
                            <li class="vote-up">
                                <span>&#9652;</span>
                            </li>
                            <li class="vote-down">
                                <span>&#9662;</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="comment-unanswered">
            <div class="comment-avatar">
                <h1>
                    <span class="glyphicon glyphicon-user"></span>
                </h1>
            </div>
            <div class="comment-body">
                <div>
                    <div class="comment-title">
                        <p><b>Joseph's</b> <span style="color: grey">COMMENTED IT &#8226;</span> <span style="color: black"><b>two days</b></span></p>
                    </div>
                </div>
                <div>
                    <div class="comment-desc">
                        <span>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </span>
                        <button class="question-btn">COMMENT</button>
                    </div>
                    <div class="comment-votes">
                        <span><b>3</b></span>
                        <span>downvotes</span>
                    </div>
                    <div class="comment-vote">
                        <ul class="vote">
                            <li class="vote-up">
                                <span>&#9652;</span>
                            </li>
                            <li class="vote-down">
                                <span>&#9662;</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>