<div class="layout">
    <div class="top nowrap">
        <div class="back-button"><button class="back-button">&lt;</button></div>
        <div class="q-title">QUESTION</div>
        <div class="add-button"><button class="add-button">&#43;</button></div>
        <span class="q-last-time-dis">
            Last time discussed
            <span><b>1</b></span>
            day ago
        </span>
    </div>
    <div class="body">
        <div class="question clear">
            <div class="question-col-left">
                <div class="question-row-title">
                    <div class="question-avatar" (click)="openModal('Eva')">
                        <span class="glyphicon glyphicon-user"></span>
                    </div>
                    <div class="question-author" (click)="openModal('Eva')">
                        <span class="question-author-name">Eva</span> <span style="color: grey;">IS ASKING:</span>
                    </div>
                    <div class="question-title nowrap">
                        <span>Will insulin make my patient gain weight?</span>
                    </div>
                </div>
                <div class="question-row-content">
                    <div class="question-desc">
                        <span>
                            Fusce convallis, mauris imperdiet gravida bibendum, nisl turpis suscipit mauris, sed placerat ipsum urna sed risus. In convallis tellus a mauris. 
                        </span>
                    </div>
                </div>
            </div>
            <div class="question-col-right">
                <div class="question-row-options">
                    <button class="button-link">unfollow</button>
                </div>
                <div class="question-row-votes">
                    <div class="question-votes-couter">
                        <span>19</span>
                    </div>
                    <div class="question-votes-couter-desc">
                        <span>upvotes</span>
                    </div>
                    <div class="question-vote">
                        <ul class="vote">
                            <li class="vote-up">
                                <span>&#9652;</span>
                            </li>
                            <li class="vote-down">
                                <span>&#9662;</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="question-footer">
            <button class="question-btn">GIVE new answer</button>
        </div>
        <div class="comments-count">
            <span class="comments-count-number">2</span> <span>peers already answered Eva</span>
        </div>
        <div class="comment clear">
            <div class="comment-col-left">
                <div class="comment-row-title">
                    <div class="comment-avatar" (click)="openModal('Patricia')">
                        <span class="glyphicon glyphicon-user"></span>
                    </div>
                    <div class="comment-author" (click)="openModal('Patricia')">
                        <span class="comment-author-name">Patricia</span> <span style="color: grey;">COMMENTED IT &#8226;</span> <span class="comment-author-time">yesterday</span>
                    </div>
                    <div class="comment-desc">
                        <span>
                            Curabitur pretium tincidunt lacus. Nulla gravida orci a odio. Nullam varius, turpis et commodo pharetra, est eros bibendum elit, nec luctus magna felis sollicitudin mauris. 
                        </span>
                    </div>
                </div>
            </div>
            <div class="comment-col-right">
                <div class="comment-row-votes">
                    <div class="comment-votes-couter">
                        <span style="font-size: 16px; font-weight: bold;">8</span>
                    </div>
                    <div class="comment-votes-couter-desc">
                        <span>upvotes</span>
                    </div>
                    <div class="comment-vote">
                        <ul class="vote">
                            <li class="vote-up">
                                <span>&#9652;</span>
                            </li>
                            <li class="vote-down">
                                <span>&#9662;</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="subcomment clear">
            <div class="subcomment-col-left">
                <div class="subcomment-row-title">
                    <div class="subcomment-avatar" (click)="openModal('David')">
                        <span class="glyphicon glyphicon-user"></span>
                    </div>
                    <div class="subcomment-author" (click)="openModal('David')">
                        <span class="subcomment-author-name">David</span> <span style="color: grey;">COMMENTED IT &#8226;</span> <span class="subcomment-author-time">yesterday</span>
                    </div>
                    <div class="subcomment-desc">
                        <span>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                        </span>

                    </div>
                </div>
            </div>
            <div class="subcomment-col-right">
                <div class="subcomment-row-votes">
                    <div class="subcomment-votes-couter">
                        <span>2</span>
                    </div>
                    <div class="subcomment-votes-couter-desc">
                        <span>upvotes</span>
                    </div>
                    <div class="subcomment-vote">
                        <ul class="vote">
                            <li class="vote-up">
                                <span>&#9652;</span>
                            </li>
                            <li class="vote-down">
                                <span>&#9662;</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="subcomment-footer">
            <button class="subcomment-btn">CONTINUE discussion</button>
        </div>
        <div class="comment clear">
            <div class="comment-col-left">
                <div class="comment-row-title">
                    <div class="comment-avatar" (click)="openModal('Joseph')">
                        <span class="glyphicon glyphicon-user"></span>
                    </div>
                    <div class="comment-author" (click)="openModal('Joseph')">
                        <span class="comment-author-name">Joseph's</span> <span style="color: grey;">COMMENTED IT &#8226;</span> <span class="comment-author-time">two days</span>
                    </div>
                    <div class="comment-desc">
                        <span>
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </span>
                    </div>
                </div>
            </div>
            <div class="comment-col-right">
                <div class="comment-row-votes">
                    <div class="comment-votes-couter">
                        <span>3</span>
                    </div>
                    <div class="comment-votes-couter-desc">
                        <span>downvotes</span>
                    </div>
                    <div class="comment-vote">
                        <ul class="vote">
                            <li class="vote-up">
                                <span>&#9652;</span>
                            </li>
                            <li class="vote-down">
                                <span>&#9662;</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="comment-footer">
            <button class="comment-btn">COMMENT</button>
        </div>
    </div>
</div>