<div class="modal-content">
    <div class="modal-exit-btn">&#10799;</div>
    <div class="modal-avatar">
        <h1>
            <span class="glyphicon glyphicon-user"></span>
        </h1>
    </div>
    <div class="modal-user-name">
        <h3>Dr. Halima</h3>
    </div>
    <div class="modal-user-info">
        <div class="modal-user-info-left">
            <span style="color: grey;">MEMBER FOR</span> <b>5 months</b>
        </div>
        <div class="modal-user-info-center">
            <span style="color: grey;">LAST SEEN</span> <b>Saturday afternoon</b>
        </div>
        <div class="modal-user-info-right">
            <span style="color: grey;">ACTIVITY LEVEL</span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star-empty"></span>
        </div>
    </div>
    <hr class="modal-hr"/>
    <div class="modal-user-menu">
        <div class="modal-user-menu-left">
            <button class="grey"><span>&lt;</span></button>
        </div>
        <div class="modal-user-menu-name">
            How it all started
        </div>
        <div class="modal-user-menu-right">
            <button class="blue"><span>&gt;</span></button>
        </div>
    </div>
    <div class="modal-profile-info">
        <div class="modal-profile-info-title">
            THAT'S WHERE WE HAVE BEEN THESE 5 MONTHS AGO
        </div>
        <div>
            <div class="modal-profile-info-peers">
                <div class="modal-profile-info-peers-unrotate">
                    <h1>46</h1> 
                    <p>peers</p>
                </div>
            </div>
            <div class="modal-profile-info-dis">
                <div class="modal-profile-info-dis-unrotate">
                    <h1>29</h1> 
                    <p>discussions</p>
                </div>
            </div>
            <div class="modal-profile-info-find">
                <div class="modal-profile-info-find-unrotate">
                    <h1>19</h1> 
                    <p>findings</p>
                </div>
            </div>
            <div class="modal-profile-info-q">
                <div class="modal-profile-info-q-unrotate">
                    <h1>10</h1> 
                    <p>questions</p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-other-profiles">
        <div class="modal-other-profiles-title">
            WHO JOINED THE PLATFORM THAT SAME DAY
        </div>
        <div>
            <div class="modal-other-profiles-profile">
                <div class="modal-other-profiles-profile-ico">
                    <h1>
                        <span class="glyphicon glyphicon-user"></span>
                    </h1>
                </div>
                <div class="modal-other-profiles-profile-name">
                    S.E.N Waveru
                </div>
            </div>
            <div class="modal-other-profiles-profile">
                <div class="modal-other-profiles-profile-ico">
                    <h1>
                        <span class="glyphicon glyphicon-user"></span>
                    </h1>
                </div>
                <div class="modal-other-profiles-profile-name">
                    Patricia
                </div>
            </div>
            <div class="modal-other-profiles-profile">
                <div class="modal-other-profiles-profile-ico">
                    <h1>
                        <span class="glyphicon glyphicon-user"></span>
                    </h1>
                </div>
                <div class="modal-other-profiles-profile-name">
                    Joseph Aluoch
                </div>
            </div>
        </div>
    </div>
    <div class="modal-hottest-discussion">
        <div class="modal-hottest-discussion-title">
            THE HOTTEST DISCUSSION THESE DAYS
        </div>
        <div class="modal-hottest-discussion-row">
            <div class="modal-hottest-discussion-avatar">
                <h1>
                    <span class="glyphicon glyphicon-user"></span>
                </h1>
            </div>
            <div class="modal-hottest-discussion-desc">
                <p>Andrew <span style="color: grey; font-style: normal; font-weight: normal;">FOUND THE GUARDIAN ARTICLE</span></p>
                <h4>Vegan diet to stop diabetes progress</h4>
            </div>
            <div class="modal-hottest-discussion-info-row">
                <div class="modal-hottest-discussion-info">
                    <span class="modal-hottest-discussion-info-nr">6</span> <span>peers involved</span>
                </div>
                <div class="modal-hottest-discussion-info">
                    <span class="modal-hottest-discussion-info-nr">3</span> <span>related discussion</span>
                </div>
                <div class="modal-hottest-discussion-info">
                    <span class="modal-hottest-discussion-info-nr">3</span> <span>conversations</span>
                </div>
                <div class="modal-hottest-discussion-info">
                    <span class="modal-hottest-discussion-info-nr">19</span> <span>upvotes</span>
                </div>
            </div>
        </div>
    </div>
</div>