<div class="layout">
    <div class="top">
        <div class="top-nav-row clear">
            <button class="back-button">&lt;</button>
            <div class="q-title">QUESTION</div>
            <button class="add-button">&#43;</button>
            <div class="q-radio">
                <form #f="ngForm">
                    <input class="q-radio-input" type="radio" value="my" name="questions" id="myself" [(ngModel)]="questions" /> <label for="myself">My shelf</label>
                    <input class="q-radio-input" type="radio" value="all" name="questions" id="allquestions" [(ngModel)]="questions" /> <label for="allquestions">All questions</label>
                </form>
            </div>
            <div class="q-sort">
                Sort by:
                <span [class.q-sort-link]="selected !== 'recent'" [class.q-sort-link-active]="selected === 'recent'" (click)="click($event)">recent</span>
                or
                <span [class.q-sort-link]="selected !== 'hot'" [class.q-sort-link-active]="selected === 'hot'"  (click)="click($event)">hot</span>
            </div>
        </div>
        <div class="top-search-row clear">
            <input class="q-search" type="text" name="search" title="search" placeholder="Search questions" [(ngModel)]="searchQuery"/>
            <button class="q-search-btn">SEARCH</button>
        </div>   
    </div>
    <div class="body" (window:resize)="onResize($event)">
        <div class="question">
            <div class="question-row-title">
                <div class="question-avatar" (click)="openModal('Eva')" >
                    <span class="glyphicon glyphicon-user"></span>
                </div>
                <div class="question-author">
                    <p><span class="question-author-name" (click)="openModal('Eva')" >Eva</span> <span style="color: grey;">IS ASKING:</span></p>
                    <p><span>Will insulin make my patient gain weight?</span></p>
                </div>
            </div>
            <div class="question-tabs clear">
                <div class="question-asked">
                    <div class="question-asked-content">
                        <div class="com-avatar"></div>
                        <div class="question-com-footer">
                            <hr class="grey" />
                            <span>ASKED</span>
                        </div>
                        <div class="question-dot-empty">&#8226;</div>
                    </div>
                </div>
                <div class="question-count" *ngIf="count[0]>0">
                    <div class="question-count-content">
                        <div class="count-desc">
                            <span>{{count[0]}}</span>
                        </div>
                        <div class="question-count-footer">
                            <span>more</span>
                            <span>activities</span>
                        </div>
                        <div class="count-dot-empty">&#8226;</div>
                    </div>
                </div>
                <div class="question-com com-4">
                    <div class="question-com-content">
                        <div class="com-avatar" (click)="openModal('Tom Hanks')">
                            <span class="glyphicon glyphicon-user"></span>
                        </div>
                        <div class="question-com-footer">
                            <hr class="grey" />
                            <span>COMMENTED</span>
                        </div>
                        <div class="question-dot-empty">&#8226;</div>
                    </div>
                </div>
                <div class="question-com com-3">
                    <div class="question-com-content">
                        <div class="com-avatar" (click)="openModal('Bill Gates')">
                            <span class="glyphicon glyphicon-user"></span>
                        </div>
                        <div class="question-com-footer">
                            <hr class="grey" />
                            <span>COMMENTED</span>
                        </div>
                        <div class="question-dot-empty">&#8226;</div>
                    </div>
                </div>
                <div class="question-com com-2">
                    <div class="question-com-content">
                        <div class="com-avatar" (click)="openModal('Frank')">
                            <span class="glyphicon glyphicon-user"></span>
                        </div>
                        <div class="question-com-footer">
                            <hr class="grey" />
                            <span>COMMENTED</span>
                        </div>
                        <div class="question-dot-empty">&#8226;</div>
                    </div>
                </div>
                <div class="question-com com-1" (click)="openModal('Paulina')">
                    <div class="question-com-content">
                        <div class="com-avatar">
                            <span class="glyphicon glyphicon-user"></span>
                        </div>
                        <div class="question-com-footer">
                            <hr class="black" />
                            <span>ANSWERED</span>
                        </div>
                        <div class="question-dot">&#8226;</div>
                    </div>
                </div>
                <div class="question-info">
                    <p class="question-info-top"><span class="number">1</span> related discusion</p>
                    <p class="question-info-mid"><span class="number">6</span> peers involved</p>
                    <p class="question-info-bottom"><span class="number">3</span> conversations</p>
                </div>
            </div>
        </div>
        <div class="question">
            <div class="question-row-title">
                <div class="question-avatar" (click)="openModal('Andrew')">
                    <span class="glyphicon glyphicon-user"></span>
                </div>
                <div class="question-author">
                    <p><span class="question-author-name" (click)="openModal('Andrew')">Andrew</span> <span style="color: grey;">IS ASKING:</span></p>
                    <p><span>Vegan diet in diabetes treatment?</span></p>
                </div>
            </div>
            <div class="question-tabs clear">
                <div class="question-asked">
                    <div class="question-asked-content">
                        <div class="com-avatar"></div>
                        <div class="question-com-footer">
                            <hr class="grey" />
                            <span>ASKED</span>
                        </div>
                        <div class="question-dot-empty">&#8226;</div>
                    </div>
                </div>
                <div class="question-count" *ngIf="count[1]>0">
                    <div class="question-count-content">
                        <div class="count-desc">
                            <span>{{count[1]}}</span>
                        </div>
                        <div class="question-count-footer">
                            <span>more</span>
                            <span>activities</span>
                        </div>
                        <div class="count-dot-empty">&#8226;</div>
                    </div>
                </div>
                <div class="question-com com-4">
                    <div class="question-com-content">
                        <div class="com-avatar" (click)="openModal('Tom Cruise')">
                            <span class="glyphicon glyphicon-user"></span>
                        </div>
                        <div class="question-com-footer">
                            <hr class="grey" />
                            <span>COMMENTED</span>
                        </div>
                        <div class="question-dot-empty">&#8226;</div>
                    </div>
                </div>
                <div class="question-com com-3">
                    <div class="question-com-content">
                        <div class="com-avatar" (click)="openModal('Brad Pitt')">
                            <span class="glyphicon glyphicon-user"></span>
                        </div>
                        <div class="question-com-footer">
                            <hr class="grey" />
                            <span>COMMENTED</span>
                        </div>
                        <div class="question-dot-empty">&#8226;</div>
                    </div>
                </div>
                <div class="question-com com-2">
                    <div class="question-com-content">
                        <div class="com-avatar" (click)="openModal('Johny Depp')">
                            <span class="glyphicon glyphicon-user"></span>
                        </div>
                        <div class="question-com-footer">
                            <hr class="grey" />
                            <span>COMMENTED</span>
                        </div>
                        <div class="question-dot-empty">&#8226;</div>
                    </div>
                </div>
                <div class="question-com com-1">
                    <div class="question-com-content">
                        <div class="com-avatar" (click)="openModal('Ed')">
                            <span class="glyphicon glyphicon-user"></span>
                        </div>
                        <div class="question-com-footer">
                            <hr class="black" />
                            <span>ANSWERED</span>
                        </div>
                        <div class="question-dot">&#8226;</div>
                    </div>
                </div>
                <div class="question-info">
                    <p class="question-info-top"><span class="number">2</span> related discusion</p>
                    <p class="question-info-mid"><span class="number">9</span> peers involved</p>
                    <p class="question-info-bottom"><span class="number">5</span> conversations</p>
                </div>
            </div>
        </div>
        <div class="question">
            <div class="question-row-title">
                <div class="question-avatar" (click)="openModal('Joseph')">
                    <span class="glyphicon glyphicon-user"></span>
                </div>
                <div class="question-author">
                    <p><span class="question-author-name" (click)="openModal('Joseph')">Joseph</span> <span style="color: grey;">IS ASKING:</span></p>
                    <p><span>Vegan diet to stop diabetes progress</span></p>
                </div>
            </div>
            <div class="question-tabs clear">
                <div class="question-asked">
                    <div class="question-asked-content">
                        <div class="com-avatar"></div>
                        <div class="question-com-footer">
                            <hr class="grey" />
                            <span>ASKED</span>
                        </div>
                        <div class="question-dot-empty">&#8226;</div>
                    </div>
                </div>
                <div class="question-count" *ngIf="count[2]>0">
                    <div class="question-count-content">
                        <div class="count-desc">
                            <span>{{count[2]}}</span>
                        </div>
                        <div class="question-count-footer">
                            <span>more</span>
                            <span>activities</span>
                        </div>
                        <div class="count-dot-empty">&#8226;</div>
                    </div>
                </div>
                <div class="question-com com-3" [class.com-3]="true">
                    <div class="question-com-content">
                        <div class="com-avatar" (click)="openModal('Bruce Willis')">
                            <span class="glyphicon glyphicon-user"></span>
                        </div>
                        <div class="question-com-footer">
                            <hr class="grey" />
                            <span>COMMENTED</span>
                        </div>
                        <div class="question-dot-empty">&#8226;</div>
                    </div>
                </div>
                <div class="question-com com-2">
                    <div class="question-com-content">
                        <div class="com-avatar" (click)="openModal('Arnold Schwarzenegger')">
                            <span class="glyphicon glyphicon-user"></span>
                        </div>
                        <div class="question-com-footer">
                            <hr class="grey" />
                            <span>COMMENTED</span>
                        </div>
                        <div class="question-dot-empty">&#8226;</div>
                    </div>
                </div>
                <div class="question-com com-1">
                    <div class="question-com-content">
                        <div class="com-avatar" (click)="openModal('Sylvia')">
                            <span class="glyphicon glyphicon-user"></span>
                        </div>
                        <div class="question-com-footer">
                            <hr class="black" />
                            <span>ANSWERED</span>
                        </div>
                        <div class="question-dot">&#8226;</div>
                    </div>
                </div>
                <div class="question-info">
                    <p class="question-info-top"><span class="number">5</span> related discusion</p>
                    <p class="question-info-mid"><span class="number">4</span> peers involved</p>
                    <p class="question-info-bottom"><span class="number">0</span> conversations</p>
                </div>
            </div>
        </div>
        <div class="question-load-more">
            <button class="button-link">load more questions</button>
        </div>
    </div>
</div>