router-outlet
.container
  .row
    .col-xs-12.col-md-12
      .panel.panel-default
        .panel-heading
          h1.panel-title
            | Menu
        .panel-body
          ul
            li
              a(routerLink='/allqbase', routerLinkActive='active') All Questions Base
            li
              a(routerLink='/singleqbase', routerLinkActive='active') Single Question Base
            li
              a(routerLink='/profilebase', routerLinkActive='active') Profile Base
