<router-outlet></router-outlet>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title">
                        Menu
                    </h1>
                </div>
                <div class="panel-body">
                    <ul>
                        <li><a routerLink="/" routerLinkActive="active">Index</a></li>
                        <li><a routerLink="/allqbase" routerLinkActive="active">All Questions Base</a></li>
                        <li><a routerLink="/singleqbase" routerLinkActive="active">Single Question Base</a></li>
                        <li><a routerLink="/profilebase" routerLinkActive="active">Profile Base</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>